.Track {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(256, 256, 256, 0.8);
  }
  
  .Track-action {
    cursor: pointer;
    padding: .5rem;
    
    transition: color .25s;
    border: 0px;
    background-color: #2F3C59;
    color: #fff;
    
  }
  
  .Track-action:hover {
    color: rgba(265, 265, 265, .5);
  }
  
  .Track-information {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55px;
    font-size: .85rem;
    font-weight: 400;
  }
  
  .Track-information .h5 {
    font-size: .9rem;
    font-weight: 600;
  }
  
  .Track-information div {
    font-size: .83rem;
    font-weight: 300;
  }