/*
html, body { min-height: $track-w*2; height: 100%; }

html { overflow: hidden; }

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  transform: rotate(-90deg);
  background: #e9dbdb;
}
*/
.bigger-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.container {
  width: 80%;
  margin: auto;
  background-color: #fff;
  padding: 5rem;
  border-radius: 5rem;
  opacity: .98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

.slidecontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

label {
  margin: 1rem 10rem 1rem 0;
  font-weight: 300;
  font-size: 1rem;
  position: relative;
  opacity: .85;
}

.tip {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  opacity: .95;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  font-size: .7rem;
  position: absolute;
  z-index: 2;
  bottom: -300%;
  right: 170%;
}

label:hover .tip {
  visibility: visible;
}

.emoji-holder {
  margin-left: 3rem;
  font-size: 2rem;
  text-align: center;
}

.emoji-holder.tempo {
  font-size: 1.75rem;
}

input[type='range'] {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: -0.75em 0;
  border: solid 1.5em transparent;
  padding: 0;
  width: 23.5em;
  height: 2.25em;
  background: repeating-linear-gradient(90deg, #c5b9b9, #c5b9b9 0.0625em, transparent 0.0625em, transparent 3.75em) no-repeat 50% 0.4375em border-box, repeating-linear-gradient(90deg, #c5b9b9, #c5b9b9 0.0625em, transparent 0.0625em, transparent 3.75em) no-repeat 50% 4.1875em border-box, -webkit-gradient(linear, left top, right top, from(rgba(195, 183, 183, 0)), color-stop(#c3b7b7), to(rgba(195, 183, 183, 0))) no-repeat 50% 50% border-box;
  background: repeating-linear-gradient(90deg, #c5b9b9, #c5b9b9 0.0625em, transparent 0.0625em, transparent 3.75em) no-repeat 50% 0.4375em border-box, repeating-linear-gradient(90deg, #c5b9b9, #c5b9b9 0.0625em, transparent 0.0625em, transparent 3.75em) no-repeat 50% 4.1875em border-box, linear-gradient(90deg, rgba(195, 183, 183, 0), #c3b7b7, rgba(195, 183, 183, 0)) no-repeat 50% 50% border-box;
  background-size: 22.5625em 0.625em, 22.5625em 0.625em, 100% 2.25em;
  font-size: 1em;
  cursor: pointer;
}

input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  position: relative;
  width: 23.5em;
  height: 0.5em;
  border-radius: .1875em;
  background: rgba(202, 191, 191, 0.825);
}

input[type='range']::-moz-range-track {
  width: 23.5em;
  height: 0.5em;
  border-radius: .1875em;
  background: rgba(202, 191, 191, 0.825);
}

input[type='range']::-ms-track {
  border: none;
  width: 23.5em;
  height: 0.5em;
  border-radius: .1875em;
  background: rgba(202, 191, 191, 0.825);
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  display: none;
}

input[type='range']::-webkit-slider-thumb {
  margin-top: -0.625em;
  border: none;
  width: 4em;
  height: 1.75em;
  border-radius: .5em;
  -webkit-box-shadow: -.125em 0 .25em #928886,  inset -1px 0 1px #fff;
          box-shadow: -.125em 0 .25em #928886,  inset -1px 0 1px #fff;
  background: radial-gradient(#ebe1e0 10%, rgba(235, 225, 224, 0.2) 10%, rgba(235, 225, 224, 0) 72%) no-repeat 50% 50%, radial-gradient(at 100% 50%, #e9dfde, #eae1de 71%, transparent 71%) no-repeat 2.5em 50%, -webkit-gradient(linear, left top, right top, from(#e9dfde), to(#d0c8c6)) no-repeat 100% 50%, radial-gradient(at 0 50%, #d0c6c5, #c6baba 71%, transparent 71%) no-repeat 0.75em 50%, -webkit-gradient(linear, left top, right top, from(#e3d9d8), to(#d0c6c5)) no-repeat 0 50%, -webkit-gradient(linear, left top, left bottom, from(#cdc0c0), color-stop(#fcf5ef), color-stop(#fcf5ef), to(#cdc0c0));
  background: radial-gradient(#ebe1e0 10%, rgba(235, 225, 224, 0.2) 10%, rgba(235, 225, 224, 0) 72%) no-repeat 50% 50%, radial-gradient(at 100% 50%, #e9dfde, #eae1de 71%, transparent 71%) no-repeat 2.5em 50%, linear-gradient(90deg, #e9dfde, #d0c8c6) no-repeat 100% 50%, radial-gradient(at 0 50%, #d0c6c5, #c6baba 71%, transparent 71%) no-repeat 0.75em 50%, linear-gradient(90deg, #e3d9d8, #d0c6c5) no-repeat 0 50%, linear-gradient(#cdc0c0, #fcf5ef, #fcf5ef, #cdc0c0);
  background-size: 0.825em 100%;
}

input[type='range']::-moz-range-thumb {
  border: none;
  width: 4em;
  height: 1.75em;
  border-radius: .5em;
  box-shadow: -.125em 0 .25em #928886,  inset -1px 0 1px #fff;
  background: radial-gradient(#ebe1e0 10%, rgba(235, 225, 224, 0.2) 10%, rgba(235, 225, 224, 0) 72%) no-repeat 50% 50%, radial-gradient(at 100% 50%, #e9dfde, #eae1de 71%, transparent 71%) no-repeat 2.5em 50%, linear-gradient(90deg, #e9dfde, #d0c8c6) no-repeat 100% 50%, radial-gradient(at 0 50%, #d0c6c5, #c6baba 71%, transparent 71%) no-repeat 0.75em 50%, linear-gradient(90deg, #e3d9d8, #d0c6c5) no-repeat 0 50%, linear-gradient(#cdc0c0, #fcf5ef, #fcf5ef, #cdc0c0);
  background-size: 0.825em 100%;
}

input[type='range']::-ms-thumb {
  border: none;
  width: 4em;
  height: 1.75em;
  border-radius: .5em;
  box-shadow: -.125em 0 .25em #928886,  inset -1px 0 1px #fff;
  background: radial-gradient(#ebe1e0 10%, rgba(235, 225, 224, 0.2) 10%, rgba(235, 225, 224, 0) 72%) no-repeat 50% 50%, radial-gradient(at 100% 50%, #e9dfde, #eae1de 71%, transparent 71%) no-repeat 2.5em 50%, linear-gradient(90deg, #e9dfde, #d0c8c6) no-repeat 100% 50%, radial-gradient(at 0 50%, #d0c6c5, #c6baba 71%, transparent 71%) no-repeat 0.75em 50%, linear-gradient(90deg, #e3d9d8, #d0c6c5) no-repeat 0 50%, linear-gradient(#cdc0c0, #fcf5ef, #fcf5ef, #cdc0c0);
  background-size: 0.825em 100%;
}

input[type='range']::-webkit-slider-runnable-track:before, input[type='range']::-webkit-slider-runnable-track:after, input[type='range'] /deep/ #track:before, input[type='range'] /deep/ #track:after {
  position: absolute;
  font: 0.75em/15em trebuchet ms, arial, sans-serif;
}

input[type='range']::-webkit-slider-runnable-track:before, input[type='range'] /deep/ #track:before {
  top: 50%;
  right: 100%;
  -webkit-transform: translate(50%, -50%) rotate(90deg) translate(0, 32%);
          transform: translate(50%, -50%) rotate(90deg) translate(0, 32%);
}

input[type='range']::-webkit-slider-runnable-track:after, input[type='range'] /deep/ #track:after {
  left: 50%;
  width: 3em;
  word-spacing: 1em;
}

input[type='range']:nth-of-type(1)::-webkit-slider-runnable-track:before, input[type='range']:nth-of-type(1) /deep/ #track:before {
  content: "320Hz";
}

input[type='range']:nth-of-type(1)::-webkit-slider-runnable-track:after, input[type='range']:nth-of-type(1) /deep/ #track:after {
  bottom: 100%;
  -webkit-transform: translate(-50%, 50%) rotate(90deg) translate(-4.375em);
          transform: translate(-50%, 50%) rotate(90deg) translate(-4.375em);
  text-align: right;
}

input[type='range']:nth-of-type(2)::-webkit-slider-runnable-track:before, input[type='range']:nth-of-type(2) /deep/ #track:before {
  content: "600Hz";
}

input[type='range']:nth-of-type(3)::-webkit-slider-runnable-track:before, input[type='range']:nth-of-type(3) /deep/ #track:before {
  content: "1KHz";
}

input[type='range']:nth-of-type(4)::-webkit-slider-runnable-track:before, input[type='range']:nth-of-type(4) /deep/ #track:before {
  content: "3KHz";
}

input[type='range']:nth-of-type(5)::-webkit-slider-runnable-track:before, input[type='range']:nth-of-type(5) /deep/ #track:before {
  content: "6KHz";
}

input[type='range']:nth-of-type(6)::-webkit-slider-runnable-track:before, input[type='range']:nth-of-type(6) /deep/ #track:before {
  content: "12KHz";
}

input[type='range']:nth-of-type(6)::-webkit-slider-runnable-track:after, input[type='range']:nth-of-type(6) /deep/ #track:after {
  top: 100%;
  -webkit-transform: translate(-50%, -50%) rotate(90deg) translate(4.375em);
          transform: translate(-50%, -50%) rotate(90deg) translate(4.375em);
}

input[type='range']:nth-of-type(1)::-webkit-slider-runnable-track:after, input[type='range']:nth-of-type(1) /deep/ #track:after, input[type='range']:nth-of-type(6)::-webkit-slider-runnable-track:after, input[type='range']:nth-of-type(6) /deep/ #track:after {
  content: '+18 0 -18';
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #898586;
}

input[type='range']:focus::-moz-range-track {
  background: #898586;
}

input[type='range']:focus::-ms-track {
  background: #898586;
}

button {
  cursor: pointer;
  width: 90%;
  padding: .77rem 0;
  border-radius: 54px;
  background-color: #3F7C81;
  text-align: center;
  font-size: .833rem;
  -webkit-transition: background-color .25s;
  transition: background-color .25s;
  border: 0px;
  color: #fff;
  font-weight: 500;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1.5rem;
}

button:hover {
  background-color: #E53E40;
}
/*# sourceMappingURL=Traits_sass.css.map */